<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 300px;
            margin: auto;
            border-collapse: collapse;
        }
        td {
            text-align: center;
        }
        .text-center {
            text-align: center;
        }
    </style>
    <title>Users</title>
</head>
<body>
<h1 class="text-center">Users</h1>
<table border="1">
    <tbody>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Lastname</td>
        <td>Age</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    <tr th:each="user : ${usersList}">
        <td><p th:text="${user.getId()}">user</p></td>
        <td><p th:text="${user.getName()}">user</p></td>
        <td><p th:text="${user.getLastName()}">user</p></td>
        <td><p th:text="${user.getAge()}">user</p></td>
        <td><button><a th:href="@{/users/{id}/update(id=${user.getId()})}">Update</a></button></td>
        <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form></td>
    </tr>
    </tbody>

</table>
<br/>
<center>
<form th:method="GET" th:action="@{/users/new/}">
    <input type="submit" value="Add new user">
</form>
</center>
</body>
</html>